@use 'sass:color';

///// Global Configs /////

$teal: #0ff;
$green: #8e8;
$green-dk: color.scale($green, $lightness: -40%);
$green-lt: color.scale($green, $lightness: 30%);
$purple: #4a235a;
$pink: #ff59d7;
$orange: #ff7a4c;
$yellow-pale: #ffeecc;
$white: #fff;
$grey: #777;
$black: #111;

$mobile-menu-height: 40px;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,700&family=Press+Start+2P&display=swap');

@font-face {
  font-family: 'setback';
  src: url('../public/fonts/setbackt.ttf');
}

html {
  background: $black;
  color: $white;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}

/**
 * Do color shifts for dark text on a light background.
 *
 * The root level styling for this application is a dark-colored background with light-colored text. That styling is used for
 * "in-universe"/lore text. For "real world"/help text, the colors are inverted (light background with dark text). To make
 * that look good when those two text treatments are nearby each other, the other colors need to be shifted slightly, in order to
 * appear perceptually the same (to human eyes, the same color "green" on a light background appears more "washed out"
 * than on a dark background, so to make them be perceived as the same, they actually need to be different colors).
 */
@mixin inverted-text {
  color: $black;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: color.scale($green, $lightness: -20%, $saturation: -30%);
  }
  a {
    color: color.scale($green-dk, $lightness: -30%);
  }
  em,
  i,
  .em {
    color: color.scale($orange, $lightness: -30%, $saturation: -30%);
  }
  strong,
  b,
  .strong {
    color: color.scale($orange, $lightness: -30%);
    text-shadow: 0 0 6px rgb(255 255 0);
  }
  code {
    color: color.scale($pink, $lightness: -20%);
  }
  input[type='text'] {
    border-color: $grey;
    color: $black;
    background: rgba($black, 0.05);
  }
}

@mixin logo-font {
  font-family: setback, sans-serif;
  text-shadow: 0.05em 0.05em rgba($white, 0.25);
}

@mixin subhead-font {
  font-family: 'Press Start 2P', monospace;
  text-shadow: 0.1em 0.1em rgba($white, 0.25);
  font-weight: bold;
}

/**
 * Background stars effect
 */
#background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: -100;
  & > div {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 200vh;
    z-index: -100;
    background-repeat: repeat;
  }
  #small-stars {
    background: url('../public/img/bgstarssmall.png');
  }
  #large-stars {
    background: url('../public/img/bgstarslarge.png');
  }
}

nav#sidebar {
  background: $purple;
  height: 100vh;
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-size: 0.8rem;
  line-height: 1.2em;
  > div {
    padding: 1rem;
    box-sizing: border-box;
    a:hover {
      text-decoration: none;
    }
  }
  #mobile-menu-button {
    display: none;
  }
  #logo {
    @include logo-font;
    background-color: rgba($white, 0.1);
    font-size: 2rem;
    text-align: center;
    line-height: 1em;
    text-transform: none;
    padding: 0.7rem 1rem;
    width: 100%;
    a {
      color: $green;
    }
  }
  #menu {
    background: $purple;
  }
  h2 {
    font-size: 0.8rem;
    text-transform: uppercase;
    text-shadow: 0.15em 0.15em rgba($white, 0.25);
  }
  h2:first-child {
    margin-top: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      margin-left: 1rem;
      padding: 0.2rem 0;
    }
  }
  #wallet-connection {
    background-color: rgba($black, 0.2);
    text-align: center;
    width: 100%;
    .eth-address {
      padding: 0;
    }
  }
}

/* Right-hand side of the page */
#content {
  margin-left: 300px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  > #content-container {
    flex-grow: 1;
    padding: 0 1rem;
  }
}

footer {
  background-color: rgba($black, 0.5);
  color: $green;
  display: flex;
  justify-content: flex-end;
  font-size: 0.8rem;
  > div {
    padding: 0 1rem;
  }
}

/**
 * Generic container for text content
 * For best readability, having text lines be no longer than 75 characters long is recommended.
 */
.text-container {
  max-width: 75em;
  margin: 0 auto;
}

/**
 * Add a translucent black background color, to help with text legibility on the starry pattern
 */
.text-scrim {
  background: rgba($black, 0.8);
  box-shadow: 0 0 8px 5px rgba($black, 0.8);
}

.mooncat-row {
  display: flex;
  justify-content: space-around;
  > div {
    flex: 1 1 100px;
    display: grid;
    place-items: center;
    .mooncat-image {
      max-height: 200px;
      max-width: 30vw;
    }
  }
}

.filter-modal {
  position: absolute;
  top: 40px;
  left: 0;
  background: $black;
  border: solid 1px $white;
  padding: 1rem;
}

.field-row {
  display: flex;
  align-items: baseline;
  margin: 0.4rem 0;
  > .field-label {
    text-align: right;
    padding: 0 0.5rem 0 0;
    flex-grow: 0;
    flex-shrink: 1;
  }
  > .field-control {
    flex-grow: 2;
  }
}

nav.breadcrumb {
  font-size: 0.8rem;
  line-height: 1.5em;
  margin: 0.5em 0;
}

nav.tabs {
  display: flex;
  flex-wrap: wrap;
  border-bottom: solid 2px $orange;
  margin-bottom: 1rem;
  background: color.scale($orange, $lightness: -70%, $saturation: -40%);
  > div {
    cursor: pointer;
    padding: 0.2rem 0.7rem;
    &:hover {
      background: rgba($orange, 0.2);
    }
    &.active {
      background: $orange;
      color: $black;
    }
  }
}

///// Global tag styling /////

a {
  color: $green-dk;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.alt-link {
  color: $green-lt;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include subhead-font;
  color: $green;
  line-height: 1.6em;
  a {
    color: inherit;
  }
}

h2 {
  margin: 2em 0 0.5em;
}

em,
i,
.em {
  font-style: normal;
  color: color.scale($orange, $lightness: 30%, $saturation: -30%);
}

strong,
b,
.strong {
  font-weight: bold;
  color: $orange;
  text-shadow: 0 0 6px rgb(226 216 0 / 59%);
}

code,
.hex-string {
  color: $pink;
  background-color: rgba($pink, 0.2);
  display: inline-block;
  padding: 0 0.2rem;
  font-family: 'Roboto Mono', monospace;
}

.subheading {
  @extend strong;
  font-size: 0.8rem;
  margin-top: -0.8rem;
}

.hex-collapse {
  display: inline-block;
  max-width: 80vw;
  overflow: hidden;
  text-overflow: ellipsis;
}

p {
  margin: 0 0 1.5em;
  &:last-child {
    margin: 0;
  }
}

hr {
  margin: 1rem 0;
  height: 2px;
  border: 0;
  background: $grey;
}

button,
a.btn {
  background: rgba(color.scale($orange, $lightness: 20%, $saturation: -20%), 0.25);
  color: $orange;
  border: solid 2px color.scale($orange, $lightness: -20%, $saturation: -40%);
  font-size: 1.2rem;
  padding: 0.3em 0.5em;
  border-radius: 0.5em 0;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    border-color: color.scale($orange, $lightness: 30%, $saturation: -30%);
    color: $orange;
  }
  &:active {
    border-color: color.scale($orange, $lightness: 60%, $saturation: -30%);
    color: color.scale($orange, $lightness: 30%, $saturation: -30%);
    background: rgba(color.scale($orange, $lightness: 20%, $saturation: -20%), 0.55);
  }
}
a.btn {
  display: inline-block;
  &:hover {
    text-decoration: none;
  }
}
button.icon-button {
  background: transparent;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  line-height: 1px;
  &:hover {
    background: rgba(color.scale($orange, $lightness: 20%, $saturation: -20%), 0.25);
  }
}

select {
  background: rgba(color.scale($orange, $lightness: 20%, $saturation: -20%), 0.25);
  color: $orange;
  border: solid 2px color.scale($orange, $lightness: -20%, $saturation: -40%);
  padding: 0.3em 0.5em;
  border-radius: 0.5em 0;
  font-weight: 700;
}

input[type='text'] {
  font-family: 'Roboto Mono', monospace;
  background: rgba(color.scale($white, $lightness: 20%), 0.25);
  color: $white;
  border: solid 2px $white;
  padding: 0.3em 0.5em;
  max-width: 75vw;
  &.address-search {
    width: 26em;
  }
}

dl {
  dt {
    @include subhead-font;
    color: $green;
    line-height: 1.6em;
  }
  dd {
    margin-left: 2em;
    &:not(:last-child) {
      margin-bottom: 2em;
    }
  }
}

///// Multi-use component styling /////

h1.hero {
  @include logo-font;
  text-align: center;
  font-size: 4rem;
  line-height: 1.2em;
}

dl.treasures-list {
  @extend .text-scrim;
  dd {
    display: flex;
    gap: 0.5rem;
    .details {
      flex: 3 3 65%;
    }
    .eligible-mooncats {
      flex: 1 1 35%;
      text-align: right;
      max-width: 35vw;
      img:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }
}

.section-header {
  color: $orange;
  text-align: center;
  font-size: 1rem;
  border-bottom: solid 2px $grey;
  padding-bottom: 1em;
  margin-top: 0;
}

@property --thumb-height {
  syntax: "<length>";
  inherits: true;
  initial-value: 120px;
}
.thumb-img {
  height: var(--thumb-height);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
#item-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  flex-wrap: wrap;
  .item-thumb {
    border: solid 1px #222;
    background: rgba($black, 0.8);
    color: inherit;
    padding: 1rem;
    transition: padding 0.2s;
    box-sizing: border-box;
    margin: -1px 0 0 -1px;
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.3em;
    &.highlight {
      background: rgba(255, 255, 0, 0.2);
    }
    &.disabled {
      opacity: 0.3;
    }
    .thumb-img {
      transition: height 0.2s;
    }
    p {
      margin: 0;
    }
    &:hover {
      text-decoration: none;
    }
    &:hover:not(.disabled) {
      position: relative;
      background: rgba(#333, 0.8);
      box-shadow: 0 0 40px 8px rgba($teal, 0.1);
      padding: 5px;
      &.highlight {
        background: rgba(255, 255, 190, 0.2);
      }
      .thumb-img {
        height: calc(var(--thumb-height) + 2rem - 10px);
      }
    }
  }
}

.pagination {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: center;
  .pagination-left,
  .pagination-right {
    padding: 0.5rem;
    cursor: pointer;
    &.disabled {
      cursor: not-allowed;
      opacity: 20%;
    }
    > svg {
      vertical-align: -2px;
    }
  }
  .pagination-center {
    display: flex;
    > span {
      padding: 0 0.3rem;
    }
  }
  .pagination-skip-left,
  .pagination-skip-right {
    cursor: pointer;
  }
}

section.accessory-picker {
  ul {
    margin: 1rem 0;
    padding: 0;
    list-style-type: none;
    li {
      display: flex;
      align-items: center;
      padding: 0.2rem 0.7rem;
      //&:not(:last-child) { margin-bottom: 2px; }
      &:nth-child(odd) {
        background: rgba($purple, 0.5);
      }
      &:nth-child(even) {
        background: rgba($purple, 0.2);
      }
      .label {
        white-space: nowrap;
        flex-grow: 3;
      }
      .buttons {
        flex-grow: 0;
        flex-shrink: 0;
        display: flex;
        flex-wrap: nowrap;
        gap: 0.4rem;
        align-items: center;
        line-height: 1em;
      }
      &.hidden {
        color: $grey;
        button {
          color: color.scale($orange, $lightness: -50%, $saturation: -30%);
        }
        select {
          color: color.scale($orange, $lightness: -30%, $saturation: -30%);
          border-color: color.scale($orange, $lightness: -50%, $saturation: -30%);
          background: rgba($orange, 0.1);
        }
      }
    }
  }
}

svg.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
svg.icon-images {
  width: 1.125em;
}
svg.icon-tags {
  width: 1.25em;
}

.eth-address {
  display: inline-block;
  background: rgba($pink, 0.2);
  padding: 0.2em 0.5em;
  max-width: 95vw;
  white-space: nowrap;
  .eth-avatar {
    max-height: 1.5em;
    vertical-align: middle;
    margin-right: 0.5em;
  }
  .hex-collapse {
    vertical-align: -3px;
  }
}
.eth-tx {
  display: inline-block;
  background: rgba($pink, 0.2);
  padding: 0.2em 0.5em;
}

.message-error {
  color: $orange;
}

.callout {
  margin: 2em 0 2em 2em;
  background: rgba($green, 0.1);
  padding: 1em;
}

p.highlight {
  padding: 0.2em 0.4em;
  background: rgba(255, 255, 90, 0.15);
  box-shadow: 0 0 10px 7px rgba(255, 255, 90, 0.2);
}

.two-col {
  column-count: 2;
}

table.zebra {
  tr:nth-child(even) {
    background: rgba($yellow-pale, 0.1);
  }
  td {
    padding: 0.2rem;
  }
}

// The default "card" is a "lore card" (dark background, with light text)
.card {
  box-shadow: 0 0 40px 1px $teal, 8px 8px 0 0 rgba($white, 0.3);
  margin: 2rem 0.5rem;
  padding: 1rem;
  border: solid 2px $white;
  background: rgba($black, 0.8);
  > h2:first-child {
    margin-top: 0;
  }
  > h3:first-child {
    margin-top: 0;
  }
}

// A "real-world"/help card is inverted in colors (light background, with dark text)
.card-help {
  @extend .card;
  background: $white;
  @include inverted-text;
  box-shadow: 0 0 20px 1px rgba($teal, 0.5), 8px 8px 0 0 rgba($white, 0.3);
}

// A "real-world"/help card with an elevated emphasis
.card-notice {
  @extend .card;
  background: $yellow-pale;
  @include inverted-text;
  box-shadow: 0 0 20px 1px rgba($teal, 0.5), 8px 8px 0 0 rgba($white, 0.3);
}

.sub-card {
  max-width: 30rem;
  margin: auto;
  text-align: center;
  background: rgba($yellow-pale, 0.1);
  padding: 1rem;
}

.timeline-container {
  $blur-size: 20px;
  $line-thickness: 2px;
  @mixin timeline-node {
    border-left: $line-thickness solid $white;
    margin: 0;
    padding-left: 2rem;
    padding-top: 5rem;
    background: rgba($black, 0.8);
  }
  @mixin dot($dot-size) {
    width: $dot-size;
    height: $dot-size;
    border-radius: $dot-size;
    position: absolute;
  }
  padding-left: 1rem;
  position: relative;
  overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 150%;
    margin-left: -25%;
    height: 100%;
    box-shadow: $black 0 $blur-size * 0.8 $blur-size inset, $black 0 $blur-size * -0.8 $blur-size inset;
  }
  > h2 {
    @include timeline-node;
  }
  .timeline-event {
    @include timeline-node;
    padding-left: 3rem;
    position: relative;
    display: flex;
    gap: 1rem;
    h3 {
      margin-top: 0;
      margin-left: -1rem;
    }
    .dot {
      @include dot(10px);
      left: -8px;
      top: 5.5rem;
      background: $purple;
      border: solid $line-thickness $white;
    }
    .dot-large {
      @include dot(20px);
      left: -13px;
      top: 5.2rem;
      background: $pink;
      border: solid $line-thickness $white;
    }
    .blockchain-details {
      font-size: 0.7rem;
      line-height: 1.3em;
      padding: 1em;
      margin-left: -0.6rem;
      background: rgba(255, 255, 200, 0.08);
    }
    .thumbnail {
      flex: 1 1 25%;
      img {
        max-height: 180px;
        max-width: 25vw;
      }
    }
  }
}

///// Responsive styling /////
@media (max-width: 65em) {
  nav#sidebar {
    position: initial;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: $mobile-menu-height;
    #mobile-menu-button {
      display: initial;
      height: $mobile-menu-height;
    }
    #mobile-menu-button,
    #logo,
    #wallet-connection {
      width: auto;
      height: $mobile-menu-height;
      padding: 0 1rem;
      line-height: $mobile-menu-height;
      white-space: nowrap;
    }
    #logo {
      flex-grow: 10;
    }
    #menu {
      h2:first-child {
        margin-top: 0;
      }
      &.menu-closed {
        display: none;
      }
      &.menu-open {
        position: absolute;
        left: 0;
        top: $mobile-menu-height;
        z-index: 100;
      }
    }
    #wallet-connection button {
      font-size: 0.8rem;
    }
  }

  #content {
    margin: 0.5em 0 0 0;
  }

  dl.treasures-list {
    dd {
      flex-wrap: wrap;
      .eligible-mooncats {
        max-width: 100vw;
        text-align: left;
        flex: 8 8 100%;
      }
    }
  }

  .timeline-container .timeline-event {
    flex-wrap: wrap;
    .thumbnail img {
      max-width: 90%;
    }
  }

  .only-wide {
    display: none !important;
  }
}

@media (max-width: 40em) {
  nav#sidebar {
    #logo {
      font-size: 1.3rem;
    }
    .eth-address.eth-address-short-bar {
      .address-label {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 4em;
      }
      .alt-link {
        display: none;
      }
    }
  }

  #content {
    > #content-container {
      padding: 0 0.2rem;
    }
  }

  h1.hero {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  .two-col {
    column-count: 1;
  }

  footer {
    flex-wrap: wrap;
    justify-content: center;
  }
}
